.discounts {
  @include r ($medium) {
    padding-top: 40px;
  }

  @include r ($medium) {
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      li {
        line-height: 0;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      button {
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:focus {
          box-shadow: 0 0 0 2px rgba($orange, 0.7);
        }

        &:hover {
          background-color: $light;
          border: 3px solid #FFAE94;
        }

        &:active {
          background-color: #FFAE94;
        }
      }

      .slick-active {
        button {
          background-color: $orange;
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include r ($large) {
      margin: 0 -10px 10px 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r ($large) {
        margin-right: 10px;
      }
    }
  }

  &__item {
    @include r ($large) {
      width: 40%;
    }

    @include r ($small) {
      margin: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;

    @include r ($medium) {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    padding: 20px 15px;
  }
}