.product-catalog {
  padding: 60px 0 50px 0;

  @include r($small) {
    padding: 40px 0 20px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include r($medium) {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__title {
    @include r ($small) {
      margin-bottom: 20px;
    }
  }

  &__box {
    display: flex;
  }

  &__btn {
    display: none;
    width: 47px;
    height: 47px;
    padding: 7px;
    @extend %bg-cat;
    margin-right: 10px;

    svg {
      width: 32px;
      height: 32px;
      fill: $orange;
    }

    @include r ($medium) {
      display: block;
      margin-right: 20px;
    }
  }

  &__name,
  &__number {
    z-index: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;

    @include r($large) {
      width: 270px;
      white-space: nowrap;
    }

    @include r($medium) {
      display: none;
    }
  }

  &__burgers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 10px 0;

    @include r ($xl) {
      margin: 0 -20px 20px 0;
    }

    @include r ($large) {
      display: flex;
      justify-content: center;
      margin: 0 -15px 15px 0;
    }

    @include r ($small) {
      margin: 0 -5px 10px 0;
    }
  }

  &__burger {
    max-width: 210px;
    width: 100%;
    margin: 0 10px 10px 0;

    @include r ($xl) {
      width: 100%;
      margin: 0 20px 20px 0;
    }

    @include r ($large) {
      margin: 0 15px 15px 0;
    }

    @include r ($medium) {
      &:nth-of-type(-n+6) {
        display: none;
      }
    }

    @include r ($small) {
      width: 45%;
      margin: 0 5px 10px 0;
    }
  }

  .jq-selectbox__select {
    height: 47px;
    padding: 15px 41px 15px 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    color: $dark;
    box-shadow: none;
    background: $white;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    transition: background-color 0.3s, border 0.3s, color 0.3s, filter 0.3s;

    &:hover {
      border: 1px solid $orange;
      color: $orange;
      background: transparent;

      .jq-selectbox__trigger-arrow {
        filter: invert(49%) sepia(89%) saturate(1832%) hue-rotate(337deg) brightness(101%) contrast(101%);
      }
    }

    &:focus {
      border: 1px solid $orange;
      background: transparent;
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 19px;
    right: 20px;
    width: 6px;
    height: 11px;
    border: none;
    background-image: url('../../images/svg/slider-arrow.svg');
    @extend %bg;
    transform: rotate(-90deg);
  }

  .jq-selectbox__select-text {
    overflow: visible;
  }
}

.catalog-categories {
  &__list {
    padding: 25px 0 19px 15px;
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    padding: 6px 0;
  }

  &__link {
    &--active {
      color: $orange;
    }
  }
}

.catalog-offers {
  &__form {
    padding: 25px 0 18px 15px;
  }

  &__label {
    display: flex;
    padding: 7px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    transition: color 0.3s;

    &:hover {
      color: $orange;
    }

    &:focus {
      color: $dark;
    }
  }

  &__box {
    margin-right: 36px;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.catalog-offers__checkbox {
      background-image: url('../../images/svg/checked.svg');
      @extend %bg;
      background-size: 12px 9px;
      border: 1px solid $darkBlue;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    position: absolute;
    @extend %bg-cat;
    border: 1px solid #ECECEC;
    margin-top: -2px;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $orange;
    }

    &:focus {
      border: 1px solid $orange;
    }
  }
}

.catalog-price {
  &__form {
    padding: 25px 0 25px 15px;
  }

  &__label {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $gray;
  }

  &__from,
  &__to {
    display: inline-block;
    width: 70px;
    height: 40px;
    padding: 12px 20px;
    @extend %bg-cat;
    border: 1px solid #FAEDED;
    margin: 0 5px;

    &:focus {
      border: 1px solid $orange;
    }
  }

  .irs--flat .irs-line {
    top: 25px;
    height: 2px;
    background-color: $gray;
    border-radius: 0;
  }

  .irs--flat .irs-handle {
    top: 18px;
    width: 18px;
    height: 18px;
    background-color: $orange;
    border-radius: 50%;
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs--flat .irs-bar {
    top: 25px;
    height: 2px;
    background-color: $orange;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }
}