$bg-color:#F9FAFF;
$orange:#FF6838;
$dark :#31352B;
$gray:#C2C2C2;
$white:#fff;
$dark-d:#000;
$darkBlue: #363853;
$light-orange:#FF7A50;

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%fl {
  display: flex;
  justify-content: center;
  align-items: center;
}