@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixins';
@import 'global';

@import 'components/menu';
@import 'components/header';
@import 'components/logo';
@import 'components/burger';
@import 'components/user-nav';
@import 'components/page-index/hero';
@import 'components/page-index/popular-categories';
@import 'components/burgers';
@import 'components/product-card';
@import 'components/page-index/delivery';
@import 'components/page-index/best-restaurants';
@import 'components/page-index/restaurant-card';
@import 'components/page-index/comments';
@import 'components/page-index/slick-prev';
@import 'components/page-index/slick-next';
@import 'components/apps';
@import 'components/footer';
@import 'components/form-subscribe';
@import 'components/contact';
@import 'components/social';


@media (max-width:1200px) {
  .section-padding {
    padding-top: 80px;
  }

  .title {
    font-size: 30px;
  }

  .hero {
    &__title {
      font-size: 60px;
    }

    &__content {
      margin-right: 20px;
    }
  }

  .popular-categories {
    &__title {
      margin-bottom: 30px;
    }

    &__btn {
      width: 100%;
      padding: 18px 25px 18px 70px;
      white-space: nowrap;

      svg {
        top: 15px;
        left: 25px;
        width: 40px;
        height: 40px;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .burgers {
    margin: 0 -20px 20px 0;

    &__item {
      width: 100%;
      margin: 0 20px 20px 0;
    }
  }

  .delivery {
    &__title {
      margin-bottom: 30px;
    }

    &__img {
      margin-right: 20px;
    }

    &__item {
      font-size: 20px;
      padding-left: 40px;

      &::before {
        width: 30px;
        height: 30px;
        top: 2px;
        left: 0;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .best-restaurants {
    &__title {
      margin-bottom: 30px;
    }

    &__items {
      margin: 0 -20px 20px 0;
    }

    &__item {
      margin: 0 20px 20px 0;
    }
  }

  .comments {
    &__title {
      margin-bottom: 30px;
    }

    &__img {
      margin-right: 60px;
    }

    &__text {
      font-size: 18px;
    }
  }

  .apps {
    &__title {
      margin-bottom: 30px;
    }

    &__content {
      max-width: 480px;
      width: 100%;
      margin-right: 20px;
    }
  }

  .footer {
    &__top {
      padding-bottom: 30px;
    }

    &__items {
      margin-right: 25px;
    }
  }

  .form-subscribe {
    &__btn {
      position: relative;

      svg {
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }
}

@media (max-width:992px) {
  .section-padding {
    padding-top: 65px;
  }

  .header {
    padding: 50px 0;
  }

  .hero {
    &__title {
      font-size: 55px;
    }

    &__content {
      width: 50%;
      margin-right: 10px;
    }

    &__link {
      font-size: 18px;
    }

    &__btn {
      font-size: 16px;
      padding: 10px 30px;
    }

    &__text {
      font-size: 18px;
    }

    &__img {
      max-width: 420px;
      width: 100%;
      background-size: contain;
    }
  }

  .popular-categories {

    &__menu {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x;
      padding-bottom: 10px;
    }

    &__item {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      position: relative;
    }

    &__btn {
      font-size: 18px;
      padding: 12px 18px 12px 50px;
      position: relative;

      svg {
        top: 10px;
        left: 15px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .burgers {
    display: flex;
    justify-content: center;
    margin: 0 -15px 15px 0;

    &__item {
      margin: 0 15px 15px 0;
    }
  }

  .delivery {

    &__text {
      font-size: 18px;
    }

    &__item {
      font-size: 18px;

      &::before {
        top: -3px;
        left: 3px;
      }
    }

    &__img {
      max-width: 380px;
      width: 100%;
      background-size: contain;
    }
  }

  .best-restaurants {
    &__items {
      margin: 0 -15px 15px 0;
    }

    &__item {
      margin: 0 15px 15px 0;
      width: 45%;
    }
  }

  .comments {
    padding-top: 40px;
    margin-right: 40px;

    &__review {
      width: 90%;
    }

    &__text:after {
      right: 0;
    }

    &__img {
      margin-right: 40px;
    }
  }

  .slick-prev {
    left: 35%;
  }

  .slick-next {
    right: 35%;
  }

  .apps {
    padding-top: 40px;

    &__img {
      max-width: 500px;
      width: 100%;
      background-size: contain;
    }

    &__text {
      font-size: 18px;
    }
  }

  .footer {
    &__top {
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    &__nav {
      column-count: 2;
      column-gap: 70px;
    }

    &__items {
      margin: 0 75px 30px 0;
    }
  }
}

@media (max-width:768px) {

  .header {
    padding: 25px 0;
  }

  .burger {
    display: block;
    order: 1;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: $white;
    display: block;
    overflow-y: auto;
    height: 100vh;
    width: 90%;
    padding: 25px 0 0 50px;
    transform: translateX(-100%);
    transition: transform 0.5s;

    &.active {
      transform: translateX(-4%);
    }

    .menu {

      &__list {
        display: block;
        padding-top: 25px;
        margin-bottom: 40px;
        border-top: 1px solid #EEEFF3;
      }

      &__item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    .contact {
      &__data {
        padding-left: 0;
      }
    }

    .burger-mobile {
      position: relative;
      width: 30px;
      top: -5%;
      left: 80%;
      height: 30px;
      z-index: 10;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: $darkBlue;
        width: 25px;
        height: 2px;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    height: 100%;
    width: 15%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transform: translateX(100%);
    transition: 0.5s;

    &.active {
      transform: translateX(0);
    }
  }

  .logo {
    max-width: 150px;
    position: relative;
    z-index: -1;
  }

  .menu {
    &__list {
      display: none;
    }
  }

  .user-nav {
    margin: 0 15px 0 auto;

    &__link {
      order: 2;
      width: 40px;
      height: 40px;
    }
  }

  .hero {
    &__content {
      width: 70%;
      margin-right: 0;
    }

    &__img {
      max-width: 320px;
      width: 100%;
      position: absolute;
      right: 0;
      opacity: 0.2;
    }
  }

  .delivery {
    &__content {
      width: 80%;
    }

    &__img {
      position: absolute;
      opacity: 0.2;
      width: 100%;
    }
  }

  .best-restaurants {
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      li {
        line-height: 0;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      button {
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:focus {
          box-shadow: 0 0 0 2px rgba($orange, 0.7);
        }

        &:hover {
          background-color: $light;
          border: 3px solid #FFAE94;
        }

        &:active {
          background-color: #FFAE94;
        }
      }

      &.slick-active {
        button {
          background-color: $orange;
        }
      }
    }
  }

  .comments {
    margin-right: 0;

    &__slider {
      flex-direction: column;
    }

    &__img {
      margin: 0 0 30px 0;
    }

    &__review {
      max-width: 60%;
    }

    .slick-prev,
    .slick-next {
      top: 130px;
    }

    .slick-prev {
      left: 30px;
      z-index: 15;
    }

    .slick-next {
      right: 30px;
    }
  }

  .footer {
    &__items {
      margin-right: 20px;
    }

    &__nav {
      column-gap: 5px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width:576px) {
  .title {
    font-size: 24px;
  }

  .header {
    padding: 24px 0;
  }

  .logo {
    width: 115px;
    height: 23px;
    position: relative;
    z-index: 2;
  }

  .user-nav {
    &__link {
      width: 40px;
      height: 40px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .hero {
    &__content {
      width: 80%;
    }

    &__title {
      font-size: 40px;
      padding-top: 50px;
    }

    &__text {
      font-size: 16px;
    }

    &__btn {
      font-size: 14px;
      padding: 8px 24px;
    }

    &__link {
      font-size: 16px;
    }

    &__img {
      max-width: 200px;
      width: 100%;
    }
  }

  .popular-categories {
    &__btn {
      font-size: 14px;
      padding: 12px 16px 12px 41px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__menu {
      margin-bottom: 30px;
    }
  }

  .burgers {
    margin: 0 -5px 10px 0;

    &__item {
      width: 45%;
      margin: 0 5px 10px 0;
    }
  }

  .product-card {
    width: 100%;

    &__title {
      margin-bottom: 10px;
    }
  }

  .delivery {
    &__main {
      width: 100%;
    }

    &__content {
      width: 100%;
    }

    &__text {
      font-size: 16px;
    }

    &__link {
      font-size: 14px;
    }

    &__img {
      max-width: 300px;
      width: 100%;
    }
  }

  .best-restaurants {
    &__items {
      margin: 0;
    }

    &__item {
      margin: 0;
    }
  }

  .restaurant-card {
    max-width: 100%;

    &__img {
      width: 100%;
    }
  }

  .comments {
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__name {
      font-size: 16px;
    }

    &__fan {
      font-size: 14px;
      font-weight: 400;
    }

    &__img {
      width: 100px;
      height: 100px;
    }

    .slick-prev,
    .slick-next {
      width: 34px;
      height: 34px;
    }

    .slick-prev {
      left: 60px;
      top: 40px;
    }

    .slick-next {
      right: 60px;
      top: 40px;
    }
  }

  .apps {
    &__inner {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 15px;
    }

    &__img {
      display: none;
    }
  }

  .footer {
    &__logo {
      max-width: 200px;
      height: 39px;
      margin-bottom: 30px;
    }

    &__top {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__nav {
      column-count: 1;
      order: 2;
    }

    &__items {
      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 0;
      padding: 10px 0;
    }

    &__bottom {
      padding: 20px 0;
    }
  }

  .form-subscribe {
    &__btn {
      margin-bottom: 30px;
    }
  }

  .address {
    order: 1;
    margin-bottom: 30px;
  }
}