@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'libs';

.header {
  padding: 60px 0;
}

.logo {
  border-radius: 5px;
  transition: background-color 0.5s,
    border 0.5s,
    opacity 0.5s,
    box-shadow 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($orange, 0.7);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    margin-left: auto;
    margin-right: 45px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1;
    color: $dark;
    text-decoration: underline transparent;

    &--active {
      color: $orange;
    }
  }
}

.user-nav {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__link {
    @extend %flex;
    position: relative;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 5px;
    transition: box-shadow 0.5s, background-color 0.5s, fill 0.5s, stroke 0.5s;

    svg {
      width: 21px;
      height: 22px;
      fill-opacity: 0;
      stroke: $darkBlue;
      stroke-width: 1.5px;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }

    &:hover {
      background-color: $light-orange;

      svg {
        stroke: $white;
      }
    }

    &:hover span {
      background-color: $white;
      color: $light-orange;
    }
  }

  &:active {
    background-color: $light;
  }

  &__num {
    position: absolute;
    top: 5px;
    left: 26px;
    padding: 1px 4px;
    border-radius: 100px;
    background-color: $orange;
    color: $white;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
  }
}

.hero {
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 40%;
  }

  &__img {
    @extend %bg;
    width: 560px;
    height: 660px;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $darkBlue;
  }

  &__time {
    display: block;
    color: $orange;
  }

  &__text {
    margin-bottom: 25px;
    @include line-clamp(3);
  }

  &__btn {
    padding: 12px 32px;
    margin-right: 23px;
  }

  &__link {
    color: $darkBlue;
    text-decoration: underline;
    transition: text-decoration 0.5s;

    &:focus {
      text-decoration: transparent;
    }

    &:active {
      text-decoration: transparent;
    }

    &:hover {
      text-decoration: transparent;
    }
  }
}

.popular-categories {
  .mixitup-control-active {
    background-color: $orange;
    color: $white;

    svg {
      fill: $white;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    position: relative;
    color: $darkBlue;
    background-color: $white;
    line-height: 1.3;
    padding: 22px 32px 22px 86px;
    box-shadow: 0 0 0 1px #ECECEC;
    border-radius: 5px;
    transition: box-shadow 0.5s, color 0.5s, background-color 0.5s, fill 0.5s;

    svg {
      position: absolute;
      top: 15px;
      left: 35px;
      width: 44px;
      height: 44px;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }

    &:hover {
      color: $orange;
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
      background-color: rgba(255, 122, 80, 0.1);

      svg {
        fill: $orange;
      }
    }

    &:active {
      color: $darkBlue;
      background-color: $white;
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);

      svg {
        fill: $darkBlue;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: $darkBlue;
    text-decoration: underline;

    &:focus {
      text-decoration: transparent;
    }

    &:active {
      text-decoration: transparent;
    }

    &:hover {
      text-decoration: transparent;
    }
  }
}

.burgers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px 30px 0;

  &__item {
    max-width: 210px;
    width: 100%;
    margin: 0 30px 30px 0;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 210px;
  height: 100%;
  background-color: $white;
  padding: 20px 15px;
  text-align: center;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 0 1px $orange;
  }


  &__img {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: $darkBlue;
    margin: auto 0 7px 0;
  }

  &__btn {
    font-size: 14px;
    padding: 7px 16px;
  }
}

.delivery {
  &__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__content {
    width: 40%;
  }

  &__img {
    @extend %bg;
    width: 440px;
    height: 585px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(3);
  }

  &__items {
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    font-size: 24px;
    color: $darkBlue;
    padding-left: 50px;

    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      top: 4px;
      left: 0;
      @extend %bg;
    }

    &--fast-del {
      &::before {
        width: 34px;
        background-image: url('../images/svg/fast-del.svg');
      }
    }

    &--courier {
      &::before {
        background-image: url('../images/svg/courier.svg');
      }
    }

    &--branch {
      &::before {
        background-image: url('../images/svg/branch.svg');
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 18px;
    padding: 12px 32px;
  }
}

.best-restaurants {
  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -30px 30px 0;
  }

  &__item {
    margin: 0 30px 30px 0;
  }
}

.restaurant-card {
  max-width: 370px;
  height: 100%;
  background-color: $white;
  box-shadow: 0px 3px 3px rgba($dark-d, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 3px 15px rgba($orange, 0.5);
  }

  &__img {
    margin-bottom: 15px;
    border-radius: 10px 10 px 0 0;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 20px;
  }

  &__time {
    position: relative;
    font-weight: 300;
    font-size: 18px;
    line-height: 2;
    padding-left: 33px;
    opacity: 0.9;

    &::before {
      position: absolute;
      content: '';
      width: 19px;
      height: 20px;
      top: 6px;
      left: 5px;
      background-image: url('../images/svg/clock.svg');
      @extend %bg;
    }
  }

  &__common {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
  }

  &__link {
    background-color: $orange;
    border-radius: 20px;
    padding: 3px 33px;
    transition: transform 1s, fill 0.5s;

    svg {
      width: 14px;
      height: 12px;
      fill: $white;
    }

    &:hover {
      svg {
        fill: $orange;
      }

      svg {
        transform: translateX(10px);
      }
    }

    &:focus {
      svg {
        fill: $orange;
      }
    }

    &:active {
      svg {
        fill: $orange;
      }

      svg {
        transform: translateX(0);
      }
    }
  }
}

.comments {
  padding-top: 60px;

  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 990px;
  }

  &__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 90px;
  }

  &__review {
    width: 100%;
    max-width: 570px;
  }

  &__text {
    position: relative;
    font-style: italic;
    margin-bottom: 30px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 19px;
      background-image: url('../images/svg/quotes.svg');
      @extend %bg;
    }

    &::before {
      top: 0;
      left: -35px;
    }

    &::after {
      bottom: 0;
      right: -35px;
      transform: scale(-1, 1);
    }
  }

  &__name {
    font-weight: 500;
    line-height: 1.3;
    color: $orange;
  }

  &__fan {
    display: block;
    font-size: 14px;
    font-style: normal;
    line-height: 1.3;
    color: $dark;
    padding-top: 15px;
  }

  .slick-disabled {
    svg {
      fill: $light-orange;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    li {
      line-height: 0;

      &:not(:last-child) {
        margin-right: 15px;
      }

      button {
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      &:focus {
        box-shadow: 0 0 0 2px rgba($orange, 0.7);
        border-radius: 50%;
      }

      &:hover {
        background-color: $light;
        border: 3px solid #FFAE94;
        border-radius: 50%;
      }

      &:active {
        background-color: #FFAE94;
        border-radius: 50%;
      }
    }

    &.slick-active {
      button {
        background-color: $orange;
      }
    }
  }
}

.slick-prev,
.slick-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  fill: $gray;
  background-color: rgba($white, 0.01);
  border: 3px solid $gray;
  border-radius: 50%;
  bottom: -10px;

  svg {
    width: 11px;
    height: 19px;
  }
}

.slick-prev {
  left: 40%;
  transition: background-color 0.5s, norder 0.5s, fill 0.5s, box-shadow 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($orange, 0.7);
  }

  &:hover {
    background-color: $light;
    border: 3px solid #FFAE94;

    svg {
      fill: #FFAE94;
    }
  }

  &:active {
    background-color: $light;
    border: 3px solid $light;

    svg {
      fill: $light-orange;
    }
  }
}

.slick-next {
  right: 40%;
  transform: scale(-1, 1);
}

.apps {
  padding-top: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__content {
    max-width: 538px;
    width: 100%;
  }

  &__text {
    opacity: 0.9;
    margin-bottom: 30px;
    @include line-clamp(3);
  }

  &__img {
    @extend %bg;
    width: 570px;
    height: 380px;
  }

  &__items {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__nav {
    column-count: 3;
    column-gap: 5px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    border-radius: 5px;
    transition: background-color 0.5s,
      border 0.5s,
      text-shadow 0.5s,
      color 0.5s,
      box-shadow 0.5s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }

    &:hover {
      color: $orange;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }

  &__bottom {
    padding: 30px 0;
    border-top: 1px solid $gray;
    text-align: center;
  }

  &__copy {
    font-size: 14px;
    line-height: 1;
  }
}

.form-subscribe {
  max-width: 200px;

  &__input {
    background-color: $white;
    width: 100%;
    height: 44px;
    padding: 13px 15px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: box-shadow 0.5s, border 0.5s;

    &::placeholder {
      font-size: 14px;
      line-height: 1.3;
      color: $gray;
      transition: color 0.5s;
    }

    &:focus {
      border: 2px solid $orange;
    }

    &:hover {
      border: 1px solid gray;

      &::placeholder {
        color: $darkBlue;
        opacity: 0.9;
      }
    }
  }

  &__btn {
    position: relative;
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    border-radius: 5px;
    padding: 13px 0;
    transition: fill 0.5s;

    svg {
      position: absolute;
      left: 30px;
      top: 15px;
      width: 15px;
      height: 15px;
      fill: $white;
    }

    &:focus {

      svg {
        fill: $orange;
      }
    }

    &:hover {
      svg {
        fill: $orange;
      }
    }

    &:active {
      svg {
        fill: $orange;
      }

    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }
}

.contact {
  margin-right: 75px;

  &__data {
    margin-bottom: 15px;
    padding-left: 5px;
  }

  &__info {
    font-size: 16px;
    line-height: 2;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px 24px;

    &--location {
      background-image: url('../images/svg/location.svg');
    }

    &--call {
      background-image: url('../images/svg/calling.svg');
    }

    &--message {
      background-image: url('../images/svg/message.svg');
    }
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__facebook {
    width: 10px;
    height: 21px;
  }

  &__twitter {
    width: 21px;
    height: 17px;
  }

  &__instagram {
    width: 20px;
    height: 20px;
  }

  &__link {
    @extend %flex;
    width: 39px;
    height: 39px;
    background-color: #ECECEC;
    border-radius: 50%;
    fill: $dark;
    transition: box-shadow 0.5s,
      background-color 0.5s,
      fill 0.5s;

    &:focus {
      background-color: $light;
      box-shadow: 0 0 0 2px rgba($orange, 0.7);

      svg {
        fill: $dark;
      }
    }

    &:hover {
      background-color: $light-orange;

      svg {
        fill: $white;
      }
    }

    &:active {
      background-color: $light;

      svg {
        fill: $light-orange;
      }
    }
  }
}

@media (max-width:1200px) {
  .section-padding {
    padding-top: 80px;
  }

  .title {
    font-size: 30px;
  }

  .hero {
    &__title {
      font-size: 60px;
    }

    &__content {
      margin-right: 20px;
    }

    &__img {
      max-width: 100%;
    }
  }

  .popular-categories {
    &__title {
      margin-bottom: 30px;
    }

    &__btn {
      width: 100%;
      padding: 18px 25px 18px 70px;

      svg {
        top: 15px;
        left: 25px;
        width: 40px;
        height: 40px;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .burgers {
    margin: 0 -20px 20px 0;

    &__item {
      width: 100%;
      margin: 0 20px 20px 0;
    }
  }

  .delivery {
    &__title {
      margin-bottom: 30px;
    }

    &__img {
      margin-right: 20px;
    }

    &__item {
      font-size: 20px;
      padding-left: 40px;

      &::before {
        width: 30px;
        height: 30px;
        top: 2px;
        left: 0;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .best-restaurants {
    &__title {
      margin-bottom: 30px;
    }

    &__items {
      margin: 0 -20px 20px 0;
    }

    &__item {
      margin: 0 20px 20px 0;
    }
  }

  .comments {
    &__title {
      margin-bottom: 30px;
    }

    &__img {
      margin-right: 60px;
    }

    &__text {
      font-size: 18px;
    }
  }

  .apps {
    &__title {
      margin-bottom: 30px;
    }

    &__content {
      max-width: 480px;
      width: 100%;
      margin-right: 20px;
    }
  }

  .footer {
    &__top {
      padding-bottom: 30px;
    }

    &__items {
      margin-right: 25px;
    }
  }

  .form-subscribe {
    &__btn {
      position: relative;

      svg {
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }
}

@media (max-width:992px) {
  .section-padding {
    padding-top: 65px;
  }

  .header {
    padding: 50px 0;
  }

  .hero {
    &__title {
      font-size: 55px;
    }

    &__content {
      width: 50%;
      margin-right: 10px;
    }

    &__link {
      font-size: 18px;
    }

    &__btn {
      font-size: 16px;
      padding: 10px 30px;
    }

    &__text {
      font-size: 18px;
    }

    &__img {
      max-width: 420px;
      width: 100%;
      background-size: contain;
    }
  }

  .popular-categories {

    &__menu {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x;
    }

    &__item {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      position: relative;
    }

    &__btn {
      font-size: 18px;
      padding: 12px 18px 12px 50px;
      position: relative;

      svg {
        top: 10px;
        left: 15px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .burgers {
    display: flex;
    justify-content: space-around;
    margin: 0 -15px 15px 0;

    &__item {
      width: 100%;
      margin: 0 15px 15px 0;
    }
  }

  .delivery {
    &__text {
      font-size: 18px;
    }

    &__item {
      font-size: 18px;

      &::before {
        top: -3px;
        left: 3px;
      }
    }

    &__img {
      width: 50%;
      background-size: contain;
    }
  }

  .best-restaurants {
    &__items {
      margin: 0 -15px 15px 0;
    }

    &__item {
      margin: 0 15px 15px 0;
      width: 45%;
    }
  }

  .comments {
    padding-top: 40px;
    margin-right: 40px;

    &__review {
      width: 100%;
    }

    &__text:after {
      right: 0;
    }

    &__img {
      margin-right: 40px;
    }
  }

  .slick-prev {
    left: 35%;
  }

  .slick-next {
    right: 35%;
  }

  .apps {
    padding-top: 40px;

    &__img {
      max-width: 500px;
      width: 100%;
      background-size: contain;
    }

    &__text {
      font-size: 18px;
    }
  }

  .footer {
    &__top {
      flex-wrap: wrap;
    }

    &__nav {
      order: 2;
    }
  }

  .contact {
    order: 1;
  }
}

@media (max-width:768px) {

  .burger {
    display: block;
    order: 1;
  }

  .logo {
    max-width: 150px;
    position: relative;
    z-index: 2;
  }

  .menu {
    &__list {
      display: none;
    }
  }

  .user-nav {
    margin: 0 15px 0 auto;

    &__link {
      order: 2;
      width: 40px;
      height: 40px;
    }
  }

  .hero {
    &__content {
      width: 70%;
      margin-right: 0;
    }

    &__img {
      position: absolute;
      opacity: 0.2;
      background-size: 75%;
      background-position: 100% 55%;
    }
  }

  .best-restaurants {
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      li {
        line-height: 0;

        &:not(:last-child) {
          margin-right: 15px;
        }

        button {
          font-size: 0;
          background-color: $gray;
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }

        &:focus {
          box-shadow: 0 0 0 2px rgba($orange, 0.7);
          border-radius: 50%;
        }

        &:hover {
          background-color: $light;
          border: 3px solid #FFAE94;
          border-radius: 50%;
        }

        &:active {
          background-color: #FFAE94;
          border-radius: 50%;
        }
      }

      &.slick-active {
        button {
          background-color: $orange;
        }
      }
    }
  }

  .comments {
    margin-right: 0;

    &__slider {
      flex-direction: column;
    }

    &__img {
      margin: 0 0 30px 0;
    }

    &__review {
      max-width: 80%;
    }

    .slick-prev {
      left: 7px;
      top: 130px;
    }

    .slick-next {
      right: -7px;
      top: 130px;
    }
  }
}

@media (max-width:576px) {
  .title {
    font-size: 24px;
  }

  .header {
    padding: 24px 0;
  }

  .logo {
    max-width: 115px;
    height: 23px;
    position: relative;
    z-index: 2;
  }

  .user-nav {
    &__link {
      width: 40px;
      height: 40px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .hero {
    &__content {
      width: 80%;
    }

    &__title {
      font-size: 40px;
      padding-top: 50px;
    }

    &__text {
      font-size: 16px;
    }

    &__btn {
      font-size: 14px;
      padding: 8px 24px;
    }

    &__link {
      font-size: 16px;
    }

    &__img {
      background-size: 60%;
    }
  }

  .popular-categories {
    &__btn {
      font-size: 14px;
      padding: 12px 16px 12px 41px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__menu {
      margin-bottom: 30px;
    }
  }

  .burgers {
    margin: 0 -5px 10px 0;

    &__item {
      max-width: 170px;
      width: 100%;
      margin: 0 5px 10px 0;
    }
  }

  .product-card {
    max-width: 170px;
    width: 100%;

    &__title {
      margin-bottom: 10px;
    }
  }

  .delivery {
    &__img {
      position: absolute;
      opacity: 0.2;
      width: 100%;
    }

    &__content {
      width: 100%;
    }

    &__text {
      font-size: 16px;
    }

    &__link {
      font-size: 14px;
    }
  }

  .comments {
    &__review {
      max-width: 340px;
    }

    &__img {
      width: 100px;
      height: 100px;
    }

    .slick-prev,
    .slick-next {
      width: 34px;
      height: 34px;
    }

    .slick-prev {
      left: 60px;
      top: 45px;
    }

    .slick-next {
      right: 90px;
      top: 45px;
    }
  }

  .apps {
    &__inner {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 15px;
    }

    &__img {
      display: none;
    }
  }

  .footer {
    &__logo {
      max-width: 200px;
      height: 39px;
      margin-bottom: 30px;
    }

    &__nav {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 0;
      padding: 10px 0;
    }

    &__bottom {
      padding: 20px 0;
      border-top: 1px solid transparent;
    }
  }

  .form-subscribe {
    &__btn {
      margin-bottom: 30px;
    }
  }

  .address {
    margin-bottom: 20px;
  }
}