.breadcrumbs {
  &__list {
    display: flex;
  }

  &__item {
    color: #505050;
    position: relative;
    padding-right: 40px;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../../images/svg/slider-arrow.svg');
      @extend %bg;
      width: 6px;
      height: 10px;
      right: 15px;
      top: 9px;

    }
  }
}