.contact {
  margin-right: 75px;

  @include r($small) {
    order: 1;
    margin-bottom: 30px;
  }

  &__data {
    margin-bottom: 15px;
    padding-left: 5px;
  }

  &__info {
    font-size: 16px;
    line-height: 2;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px 24px;

    &--location {
      background-image: url('../images/svg/location.svg');
    }

    &--call {
      background-image: url('../images/svg/calling.svg');
    }

    &--message {
      background-image: url('../images/svg/message.svg');
    }
  }
}