.header {
  padding: 60px 0;

  @include r($large) {
    padding: 50px 0;
  }

  @include r($medium) {
    padding: 25px 0;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin-right: 45px;

    @include r($medium) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  .mobile-menu {
    @include r($medium) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-color: $white;
      display: block;
      overflow-y: auto;
      height: 100vh;
      width: 90%;
      transform: translateX(-100%);
      transition: transform 0.5s;

      &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 15px 25px 15px;
        border-bottom: 1px solid #EEEFF3;
      }

      &__list {
        display: block;
        padding: 25px 15px 25px 15px;
        border-bottom: 1px solid #EEEFF3;
      }

      &__contact {
        padding: 15px 15px;
      }

      &__item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &.active {
        transform: translateX(-3%);
      }

      &__img {
        width: 200px;
        height: 39px;
      }

      &__social {
        padding: 0 15px 15px 15px;
      }

      .burger-mobile {
        position: relative;
        width: 44px;
        height: 44px;
        z-index: 10;

        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: $darkBlue;
          width: 25px;
          height: 2px;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}