.menu {
  display: flex;
  margin-left: auto;

  &__link {
    font-size: 18px;
    line-height: 1.2;
    color: $dark;
    text-decoration: underline transparent;

    &--active {
      color: $orange;
    }
  }
}