.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item {
    width: 48px;
    height: 48px;
    @extend %bg-cat;
    position: relative;
    transition: background-color 0.3s, color 0.3s, fill 0.3s;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &--active {
      border: 1px solid #363853;
    }

    &:hover {
      background-color: $orange;
      border: transparent;

      .pagination__link {
        color: $white;

        &--next {
          svg {
            fill: $white;
          }
        }
      }

      &:focus {
        background: #FAEDED;
        box-shadow: 0 0 0 2px rgba($orange, 0.7);
      }

      &:active {
        background: #FAEDED;
        box-shadow: inset 0 -1px 4px 2px rgba(0, 0, 0, 0.15);

        .pagination__link {
          color: $darkBlue;
        }
      }
    }

    &--dots {
      &:hover {
        background-color: #FAEDED;

        .pagination__link {
          color: $darkBlue;
        }
      }
    }

    &--noactive {
      &:hover {
        background: #FAEDED;
      }
    }

    @include r ($small) {
      &:nth-of-type(3) {
        display: none;
      }

      &:nth-of-type(5) {
        display: none;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1;
    color: $darkBlue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &--prev,
    &--next {

      svg {
        width: 11px;
        height: 18px;
        fill: $gray;
      }
    }

    &--next {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}