<section class="comments">
  <div class="container">
    <h2 class="comments__title title">Отзывы клиентов</h2>
    <ul class="comments__inner">

      <li class="comments__item">
        <div class="comments__slider">
          <img class="comments__img" src="images/commment-customer.jpg" width="300" height="300"
            alt="фото клиента Дарьи">
          <div class="comments__review">
            <blockquote class="comments__blockquote">
              <div class="comments__text">
                <p>
                  SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт
                  и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку
                  -
                  однозначно
                  рекомендую!
                </p>
                <cite class="comments__name">Дарья
                  <span class="comments__fan">Ценитель вкусной еды</span>
                </cite>
              </div>
            </blockquote>
          </div>
        </div>
      </li>

      <li class="comments__item">
        <div class="comments__slider">
          <img class="comments__img" src="images/commment-customer.jpg" width="300" height="300"
            alt="фото клиента Дарьи">
          <div class="comments__review">
            <blockquote class="comments__blockquote">
              <div class="comments__text">
                <p>
                  SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт
                  и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку
                  -
                  однозначно
                  рекомендую!
                </p>
                <cite class="comments__name">Дарья
                  <span class="comments__fan">Ценитель вкусной еды</span>
                </cite>
              </div>
            </blockquote>
          </div>
        </div>
      </li>

      <li class="comments__item">
        <div class="comments__slider">
          <img class="comments__img" src="images/commment-customer.jpg" width="300" height="300"
            alt="фото клиента Дарьи">
          <div class="comments__review">
            <blockquote class="comments__blockquote">
              <div class="comments__text">
                <p>
                  SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт
                  и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку
                  -
                  однозначно
                  рекомендую!
                </p>
                <cite class="comments__name">Дарья
                  <span class="comments__fan">Ценитель вкусной еды</span>
                </cite>
              </div>
            </blockquote>
          </div>
        </div>
      </li>

      <li class="comments__item">
        <div class="comments__slider">
          <img class="comments__img" src="images/commment-customer.jpg" width="300" height="300"
            alt="фото клиента Дарьи">
          <div class="comments__review">
            <blockquote class="comments__blockquote">
              <div class="comments__text">
                <p>
                  SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт
                  и
                  приложение. Их
                  доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку
                  -
                  однозначно
                  рекомендую!
                </p>
                <cite class="comments__name">Дарья
                  <span class="comments__fan">Ценитель вкусной еды</span>
                </cite>
              </div>
            </blockquote>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>