<section class="popular-categories section-padding">
  <div class="container">
    <h2 class="popular-categories__title title">Популярные категории</h2>
    <ul class="popular-categories__menu">
      <li class="popular-categories__item">
        <button class="popular-categories__btn" data-filter="all" type="button">
          <svg>
            <use xlink:href="images/sprite.svg#burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="popular-categories__item">
        <button class="popular-categories__btn" data-filter=".category-a" type="button">
          <svg>
            <use xlink:href="images/sprite.svg#pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="popular-categories__item">
        <button class="popular-categories__btn" data-filter=".category-b" type="button">
          <svg>
            <use xlink:href="images/sprite.svg#sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="popular-categories__item">
        <button class="popular-categories__btn" data-filter=".category-c" type="button">
          <svg>
            <use xlink:href="images/sprite.svg#asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="popular-categories__item">
        <button class="popular-categories__btn" data-filter=".category-d" type="button">
          <svg>
            <use xlink:href="images/sprite.svg#dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>

    <ul class="popular-categories__burgers">
      <li class="popular-categories__box mix category-a">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/cheese-burger.jpg"
            alt="Чизбургер с листьями салата">
          <h3 class="product-card__title">Чизбургер с листьями салата</h3>
          <span class="product-card__price">160<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-b">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/burger.jpg" alt="Бифбургер">
          <h3 class="product-card__title">Бифбургер</h3>
          <span class="product-card__price">190<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-c">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/queen-burger.jpg"
            alt="Королевский чизбургер">
          <h3 class="product-card__title">Королевский чизбургер</h3>
          <span class="product-card__price">260<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-d">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/black-burger.jpg"
            alt="Черный гамбургер">
          <h3 class="product-card__title">Черный гамбургер</h3>
          <span class="product-card__price">199<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-d">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/chicken-burger.jpg"
            alt="Чикен бургер">
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price">180<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-a">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/cheese-burger.jpg"
            alt="Чизбургер с листьями салата">
          <h3 class="product-card__title">Чизбургер с листьями салата</h3>
          <span class="product-card__price">160<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-d">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/burger.jpg" alt="Бифбургер">
          <h3 class="product-card__title">Бифбургер</h3>
          <span class="product-card__price">190<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-c">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/queen-burger.jpg"
            alt="Королевский чизбургер">
          <h3 class="product-card__title">Королевский чизбургер</h3>
          <span class="product-card__price"> 160<span>руб.</span></span>
          <button class="product-card__btn button" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__box mix category-b">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/black-burger.jpg"
            alt="Черный гамбургер">
          <h3 class="product-card__title">Черный гамбургер</h3>
          <span class="product-card__price">199<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="popular-categories__box mix category-a">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/chicken-burger.jpg"
            alt="Чикен бургер">
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price"> 180<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>
    <a class="popular-categories__link animation" href="#">
      Показать еще
    </a>
  </div>
</section>