<section class="discounts section-padding">
  <div class="container">
    <h2 class="discounts__title title">Акции и скидки</h2>
    <ul class="best-restaurants__items discounts__items">

      <li class="best-restaurants__item discounts__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/blaze-pizza.jpg"
            alt="Blaze Pizza">
          <h3 class="restaurant-card__title discounts__subtitle">Скидка 50% на вторую пиццу</h3>
        </article>
      </li>

      <li class="best-restaurants__item discounts__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/kfc.jpg" alt="KFC">
          <h3 class="restaurant-card__title discounts__subtitle">Картошечка из KFC даром при заказе бургера</h3>
        </article>
      </li>

      <li class="best-restaurants__item discounts__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/star-burger.jpg"
            alt="Star Burgers">
          <h3 class="restaurant-card__title discounts__subtitle">Чёрные бургеры на чёрный день </h3>
        </article>
      </li>

    </ul>
  </div>
</section>