<section class="discounts section-padding">
  <div class="container">
    <h2 class="discounts__title title">Акции и скидки</h2>
    <ul class="discounts__list">
      <li class="discounts__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/blaze-pizza.jpg"
            alt="Blaze Pizza">
          <h3 class="restaurant-card__title">Blaze Pizza</h3>
          <div class="restaurant-card__common">
            <time class="restaurant-card__time" datetime="11:00 - 22:00">11:00 - 22:00</time>
            <a class="restaurant-card__link button" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="discounts__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/kfc.jpg" alt="KFC">
          <h3 class="restaurant-card__title">KFC</h3>
          <div class="restaurant-card__common">
            <time class="restaurant-card__time" datetime="06:00 - 23:30">06:00 - 23:30</time>
            <a class="restaurant-card__link button" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="discounts__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/star-burger.jpg"
            alt="Star Burgers">
          <h3 class="restaurant-card__title">Star Burgers</h3>
          <div class="restaurant-card__common">
            <time class="restaurant-card__time" datetime="09:00 - 21:00">09:00 - 21:00</time>
            <a class="restaurant-card__link button" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>