 <header class="header">
   <div class="container">
     <nav class="menu">
       <a class="logo" href="#">
         <img class="logo__img" src="images/svg/logo.svg" width="200" height="39" alt="логотип">
       </a>
       <button class="burger" type="button">
         <span class="burger__line"></span>
         <span class="sr-only">открыть меню</span>
       </button>
       <ul class="menu__list">
         <li class="menu__item">
           <a class="menu__link menu__link--active animation" href="#">
             Главная
           </a>
         </li>
         <li class="menu__item">
           <a class="menu__link animation" href="#">
             Блюда
           </a>
         </li>
         <li class="menu__item">
           <a class="menu__link animation" href="#">
             Контакты
           </a>
         </li>
       </ul>
       <ul class="user-nav">
         <li class="user-nav__item">
           <button class="user-nav__link" type="button">
             <svg>
               <use xlink:href="images/sprite.svg#search"></use>
             </svg>
             <span class="sr-only">поиск</span>
           </button>
         </li>
         <li class="user-nav__item">
           <button class="user-nav__link" type="button">
             <svg>
               <use xlink:href="images/sprite.svg#cart"></use>
             </svg>
             <span class="sr-only">корзина</span>
             <span class="user-nav__num">4</span>
           </button>
         </li>
       </ul>
     </nav>
   </div>
   <div class="mobile-menu">
     <a class="logo" href="#">
       <img class="logo__img" src="images/svg/logo.svg" width="200" height="39" alt="логотип">
     </a>
     <button class="burger-mobile" type="button">
       <span class="sr-only">закрыть меню</span>
     </button>
     <ul class="menu__list">
       <li class="menu__item">
         <a class="menu__link menu__link--active animation" href="#">
           Главная
         </a>
       </li>
       <li class="menu__item">
         <a class="menu__link animation" href="#">
           Блюда
         </a>
       </li>
       <li class="menu__item">
         <a class="menu__link animation" href="#">
           Контакты
         </a>
       </li>
     </ul>
     <address class="address">
       <ul class="contact">
         <li class="contact__data">
           <a class="contact__info contact__info--location animation" href="#">
             ул. Смирнова 2/3</a>
         </li>
         <li class="contact__data">
           <a class="contact__info contact__info--call animation" href="tel:+79068057043">
             79068057043</a>
         </li>
         <li class="contact__data">
           <a class="contact__info contact__info--message animation" href=" mailto:support@sfood.com">
             support@sfood.com</a>
         </li>
       </ul>
       <ul class="social">
         <li class="social__item">
           <a class="social__link" target="_blank" href="#">
             <svg class="social__facebook">
               <use xlink:href="images/sprite.svg#facebook"></use>
             </svg>
             <span class="sr-only">написать в фейсбук</span>
           </a>
         </li>
         <li class="social__item">
           <a class="social__link" target="_blank" href="#">
             <svg class="social__twitter">
               <use xlink:href="images/sprite.svg#twitter"></use>
             </svg>
             <span class="sr-only">мы в твиттер</span>
           </a>
         </li>
         <li class="social__item">
           <a class="social__link" target="_blank" href="#">
             <svg class="social__instagram">
               <use xlink:href="images/sprite.svg#instagram"></use>
             </svg>
             <span class="sr-only">написать в инстаграм</span>
           </a>
         </li>
       </ul>
     </address>
   </div>
 </header>