<section class="interest">
  <div class="container">
    <h1 class="sr-only">выбрать интересующий продукт</h1>
    <h2 class="interest__title title">Вас может заинтересовать</h2>
    <ul class="interest__slide">
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/burger.jpg" alt="Бифбургер">
          <h3 class="product-card__title">Бифбургер</h3>
          <span class="product-card__price">190<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/queen-burger.jpg"
            alt="Королевский чизбургер">
          <h3 class="product-card__title">Королевский чизбургер</h3>
          <span class="product-card__price">260<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/black-burger.jpg"
            alt="Черный гамбургер">
          <h3 class="product-card__title">Черный гамбургер</h3>
          <span class="product-card__price">199<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/chicken-burger.jpg"
            alt="Чикен бургер">
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price">180<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/cheese-burger.jpg"
            alt="Чизбургер с листьями салата">
          <h3 class="product-card__title">Чизбургер с листьями салата</h3>
          <span class="product-card__price">160<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/burger.jpg" alt="Бифбургер">
          <h3 class="product-card__title">Бифбургер</h3>
          <span class="product-card__price">190<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/queen-burger.jpg"
            alt="Королевский чизбургер">
          <h3 class="product-card__title">Королевский чизбургер</h3>
          <span class="product-card__price"> 160<span>руб.</span></span>
          <button class="product-card__btn button" type="button">В корзину</button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/black-burger.jpg"
            alt="Черный гамбургер">
          <h3 class="product-card__title">Черный гамбургер</h3>
          <span class="product-card__price">199<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/chicken-burger.jpg"
            alt="Чикен бургер">
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price"> 180<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="interest__item">
        <article class="product-card">
          <img class="product-card__img" width="140" height="140" src="images/burgers/chicken-burger.jpg"
            alt="Чикен бургер">
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price">180<span>руб.</span></span>
          <button class="product-card__btn button" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>